body {
    text-align: center;
}

#mask, #winning {
    display: none;
    width: 505px;
    height: 545px;
    z-index: 1;
    margin: auto;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
}

#mask {
    background-color: black;
    opacity: 0.8;
}

#winning {
    text-align: center;
    font-size: 25px;
    color: white;
}

#winning-message {
    display: table-cell;
    vertical-align: middle;
}

button {
    border-radius: 4px;
    font-size: 25px;
    padding: 12px 24px;
    border: 2px solid;
    font-weight: bold;
}

#replay {
    border-color: #4CAF50;
    background-color: white;
    color: #4CAF50;
}
#replay:hover {
    background-color: #4CAF50;
    color: white;
}
